__pycache__/
build/
*.egg-info/
*.so

tmp*
data/
data
trial*/
.vs/

*.ckpt
*wos*
ablation.sh
runall_firekeeper*
runall_dtu*
*.exr
nerf/ScreenSpaceReSTIR/.slangpy_cache
nerf/ScreenSpaceReSTIR/*.lock
nerf/bvhworkers/.slangpy_cache
nerf/bvhworkers/*.lock
.vscode
test_out
test_out_ngp
test_ngp_restir
IR_outputs
nerf_outputs
*.sh